<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
</head>
<body>
<h1>Checkout</h1>
<form action="/charge" method="POST" id="checkout-form">
    <input type="hidden" th:value="${amount}" name="amount"/>
    <label>Price: <span th:text="${amount/100}"></span> (in your currency)</label>
    <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            th:attr="data-key=${stripePublicKey},
                     data-amount=${amount},
                     data-currency=${currency}">
    </script>
</form>
</body>
</html>
